<h1>Flight #<%= @flight.id %> Booking Form</h1>

<%= form_with model: @booking do |f| %>

    <div>
        <%= f.hidden_field :flight_id, value: @flight.id %>
    </div>

    <div>
        <%= f.label :flight, "Flight #: #"%>
        <%= f.collection_select :flight, Flight.all, :id, :id, { selected: @flight.id }, disabled: "true"%>
    </div><br/>

    <div>
        <%= f.label :departure_airport, "Depart from: "%>
        <%= f.collection_select :departure_airport, Airport.all, :id, :code, { selected: @flight.departure_airport.id },  disabled: "true"%>
    </div><br/>

    <div>
        <%= f.label :arrival_airport, "Arrive at: "%>
        <%= f.collection_select :arrival_airport, Airport.all, :id, :code, { selected: @flight.arrival_airport.id },  disabled: "true"%>
    </div><br/>

    <div>
        <%= f.label :departure_date, "Departure date: "%>
        <%= f.collection_select :departure_date, Flight.all, :departure_date, "format_departure_date", { selected: @flight.departure_date },  disabled: "true"%>
    </div><br/>

    <div data-controller="passenger">
        <ol data-passenger-target="passengerList" style="display: flex; flex-direction: column; gap: 20px;">
            <%= f.fields_for :passengers do |sub_form| %>
                <li>
                    <div style="display: flex; gap: 5px;">
                        <%= sub_form.label :name, "Name: " %>
                        <%= sub_form.text_field :name %>

                        <%= sub_form.label :email, "E-mail: " %>
                        <%= sub_form.text_field :email %>

                        <button class="remove-passenger-button"  type="button" data-passenger-target="removePassengerButton" data-action="click->passenger#removePassenger">- Remove Passenger</button>
                    </div>
                </li>
            <% end %>
        </ol>

        <div>
            <template data-passenger-target="template">
                <%= f.fields_for 'passengers_attributes[]', Passenger.new, index: "__INDEX__" do |sub_form| %>
                    <li>
                        <div style="display: flex; gap: 5px;">
                            <%= sub_form.label :name, "Name:" %>
                            <%= sub_form.text_field :name %>
                        
                            <%= sub_form.label :email, "E-mail: " %>
                            <%= sub_form.text_field :email %>

                            <button class="remove-passenger-button" type="button" data-passenger-target="removePassengerButton" data-action="click->passenger#removePassenger">- Remove Passenger</button>
                        </div>
                    </li>
                <% end %>
            </template>
        </div>

        <div>
            <button type="button" data-passenger-target="addPassengerButton" data-action="click->passenger#addPassenger">Add Passenger</button>
        </div>
    </div>

    <div>
        <%= f.submit "Book" %>
    </div>

<% end %>