<h1>Booking #<%= @booking.id %></h1>

<h2>Flight Information</h2>

<p>Flight #: #<%= @booking.flight_id %></p>

<p>Departure date: <%= @booking.flight.format_departure_date%>

<p>Departing from: <%= @booking.flight.departure_airport.code %></p>

<p>Arriving at: <%= @booking.flight.arrival_airport.code %></p>

<p>Duration: ~<%= @booking.flight.duration_hrs %>hr(s)</p>

<h2>Passenger Information</h2>

<ol>
    <% @booking.passengers.each do |passenger| %>
        <li>
            <ul>
                <li>
                    <p>Name: <%= passenger.name %></p>
                </li>
                <li>E-mail: <%= passenger.email %></li>
            </ul>
        </li>
    <% end %>
</ol>